<?xml version="1.0" encoding="utf-8"?>
<launch>

<include file="$(find usb_cam)/launch/usb_cam-test.launch">
  </include>
<include file="$(find darknet_ros)/launch/custom2022.launch">
  </include>
<!--<include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
  </include>-->
  <!--node pkg="image_size_cutter"  name="image_size_cutter"   type="image_size_cutter" respawn="true" /-->
  <!--node name="preprocess" pkg="preprocess"  type="preprocess" respawn="true" /-->
  <node name="tr_processing" pkg="tr_processing"  type="tr_processing" output="screen" respawn="true" />
</launch>
